.number-picker {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  width: 200px;
  font-size: 48px;
  text-align: center;
  background-color: white;
  box-shadow: 1px 2px black;
}
.number-picker__modifier {
  flex-basis: 40px;
  box-sizing: border-box;
  padding: 5px 0;
  border: 1px solid black;
  border-right: none;
  color: black;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.number-picker__modifier:last-child {
  border-left: none;
  border-right: 1px solid black;
}
.number-picker__input {
  flex-basis: 120px;
  box-sizing: border-box;
  border: 1px solid black;
  vertical-align: top;
  font-size: inherit;
  text-align: center;
}
